/* temporary styling sheet*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.styleNewTicketButton {
  padding: 10px 50px;
  width: 90%;
  background-color: #00685e;
  color: white;
  border: none;
}

.profileImage {
  width: 50px;
  height: 100%;
  background-color: yellow;
}

.welcome {
  display: flex;
  height: 60px;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}

.section {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.acticeTikcetContainer {
  width: 80%;
  height: 200px;
  border: solid 2px black;
  text-align: center;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

/* modals design */

.modalContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0%;
  position: fixed;
  z-index: 2;
  margin: 0;
  background-color: white;
}

.modalContent {
  width: 90%;
}

.modalBack {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  position: fixed;
  bottom: 0%;
  background-color: black;
  opacity: 0.2;
}

.modalBack2 {
  width: 100%;
  height: 100vh;
  z-index: 3;

  position: fixed;
  bottom: 0%;
  background-color: black;
  opacity: 0.2;
}

.input {
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid black;
  width: 90%;
  margin-bottom: 5px;
}

.fortsettButton {
  padding: 10px 50px;
  width: 100%;
  color: white;
  border: none;
}

.fortsettButtonActive {
  background-color: #00685e;
}

.fortsettButtonDisabled {
  background-color: #a0aec0;
}

/* departure card section*/

.routeCard {
  width: 90%;
  height: 200px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 5%;
}

.routeCardBackgroundGreen {
  background-color: #def1e8;
}

.routeCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.routeCardHours,
.track {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.priceShow {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.numberOfTravellers {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  background-color: #c2e6de;
  border: none;
}

.button2 {
  padding: 10px 20px;
  width: 45%;
  background-color: #c2e6de;
  border: none;
}

.button3 {
  padding: 10px 20px;
  width: 45%;
  background-color: #edf2f7;
  border: none;
}

.editNumberOfTravellersContainer {
  z-index: 3;
  width: 100%;
  display: block;
  position: fixed;
  bottom: 0%;
  background-color: aqua;
}

/* width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    bottom: 0%;
    position: fixed;
    z-index: 2;
    margin: 0;
    background-color: white; */
